@import url(//db.onlinewebfonts.com/c/ef6bdf5ef216552c7e9869841e891ca0?family=Arial+Rounded+MT+Bold);
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Sans+KR&family=Rubik&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", "DM Sans", "Poppins", "Rubik", "Varela Round",
        "Noto Sans JP", Arial, sans-serif;
}
body {
    height: 100%;
}
/* ==============/ PE PAGE /============= */
/* ===========HEADER NAVBAR=========== */
.header_navbar_pe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease-out 0s;
}
.navbar-toggler {
    padding: 0;
    box-shadow: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #387dff;
    display: block;
    margin: 5px 0;
    position: relative;
    transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
    transform: rotate(45deg);
    top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
    transform: rotate(135deg);
    top: -7px;
}

.navbar-nav .nav-item-pe {
    position: relative;
    margin-left: 40px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item-pe {
        margin-left: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item-pe {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item-pe {
        margin: 0;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .pe_content .pe_title {
        font-size: 30px;
        line-height: 60px;
    }
}

.navbar-nav .nav-item-pe a {
    font-size: 16px;
    font-weight: 400;
    color: #387dff;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    position: relative;
    text-decoration: none;
}
.navbar-nav .nav-item-pe a:hover {
    color: #e84e4e;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item-pe a:hover {
        color: #e84e4e;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item-pe a:hover {
        color: #e84e4e;
    }
}

/* =================SECTION PE PAGE================ */

.section_pe {
    height: 586px;
    position: relative;
    overflow: hidden;
    background: url(/image/Bg_pepage1.svg) no-repeat;
    max-width: 100%;
    background-size: cover;
}
.pe_content {
    margin-top: 140px;
}
.pe_content .pe_title {
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    color: #000;
    margin-top: 90px;
}
.pe_content p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.text-webcam {
    color: #6e6e6e;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}
.main-btn-webcam {
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    text-align: center;
    padding: 0 15px;
    font-size: 0.875rem;
    height: 45px;
    line-height: 42px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-out 0s;
    background-color: #ff8a73;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-color: transparent;
}
.main-btn-webcam:hover {
    color: #fff;
    box-shadow: 0 10px 50px 0 #ff8a73;
    opacity: 1;
}
.btn-image {
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    text-align: center;
    padding: 0 25px;
    font-size: 0.875rem;
    height: 45px;
    line-height: 46px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-out 0s;
    background-color: #387dff;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
}
.btn-image:hover {
    color: #fff;
    box-shadow: 0 10px 50px 0 #387dff;
    opacity: 1;
}
.container-image {
    display: flex;
    justify-content: center;
    height: 280px; /*customize to your needs*/
    margin-top: -316px;
}
.start-image {
    /* position: absolute;
    top: 14%;
    max-width: 100%;
    left: 22%;
    height: auto; */
    max-width: 100%;
    max-height: 100%;
}
@media (max-width: 1220px) {
    .pe_content {
        margin-top: 0;
    }
}
@media (max-width: 768px) {
    .main-btn-webcam {
        font-size: 12px;
    }
    .text-webcam {
        font-size: 13px;
    }
    .btn-image {
        font-size: 12px;
    }
}
/* =========PE INFORMATION============== */

/* ================NAVBAR============ */
.main-btn-restart {
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding: 0 40px;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-out 0s;
    background-color: #57b3fe;
    text-decoration: none;
    text-transform: uppercase;
}
.main-btn-restart:hover {
    background-color: #ff8a73;
    color: #fff;
    box-shadow: 0 10px 50px 0 #ff8a73;
    opacity: 1;
}

/* ============SECTION INFOR========= */

.pe_info {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #edf1ff;
    /* background-image: url(/image/Bg_Infor.svg); */
    width: 100%;
    background-size: cover;
}
/* =============Table Info ================== */
.info {
    --bs-gutter-x: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: auto;
    justify-content: center;
    display: flex;
}

.info .img-extracted {
    width: 250px;
    height: 289px;
    margin-left: 65px;
    margin-bottom: 3px;
    border-radius: 30px;
    border: 7px solid #d2ecff;
}

.title-h2 {
    font-family: "Varela Round", sans-serif;
    margin-bottom: 30px;
    font-size: 30px;
    color: #387dff;
    line-height: 56px;
}

.table-info .tbody-info .noborder {
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
}

@media (min-width: 1024px) {
    .img-extracted {
        margin-right: auto;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .img-extracted {
        margin-right: auto;
    }
}

@media (max-width: 739px) {
    .img-extracted {
        margin-right: auto;
    }
}

.table-sm > :not(caption) > * > * {
    padding: 0.25rem 1.25rem;
}
.tbody-info td,
th,
tr {
    border-style: none;
}

.tbody-info {
    font-size: 20px;
}

.tbody-info th {
    border-style: none;
    font-size: 19px;
    font-family: "Rubik", sans-serif;
    /* font-family: "DM Sans", sans-serif; */
}

.tbody-info tr {
    height: 45px;
    border-style: none;
}
.tbody-info tr td a {
    font-size: 18px;
    padding-left: 30px;
    font-family: "DM Sans", sans-serif;
}
.table-info {
    margin-left: 60px;
}

/* ======================CONTAINER======================== */

.detail {
    margin-top: 10px;
}
.detail .p_detail {
    padding-left: 5px;
    font-size: 14px;
    float: left;
    font-family: "DM Sans", sans-serif;
}
.detail .icon {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    float: right;
    padding-right: 5%;
}

/* ==========================Progress bar======================== */

.progress-bar {
    border-radius: 12px;
    height: 1rem;
    margin-top: 3px;
}

.horizontal .progress-bar {
    float: left;
    width: 100%;
    padding: 12px 0;
}

.horizontal .progress-track {
    position: relative;
    width: 100%;
    background: #ebebeb;
}

.horizontal .progress-fill {
    position: relative;
    background: #16b4eb;
    height: 20px;
    /* width: 33%; */
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.rounded .progress-track,
.rounded .progress-fill {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/*========================= Start Slide Show Compared Face=================================*/

.custom-box {
    width: 200px;
    height: 312px;
    text-align: center;
    box-shadow: 0px 0px 14px 4px #0000006b;
    margin: 15px;
    font-size: 1em;
    overflow: hidden;
    padding: 10px;
    outline: none;
    border-radius: 15px;
}
.custom-box img {
    width: 180px;
    height: 180px;
    margin-bottom: 3px;
    border-radius: 15px;
}

/* ============ */

/* canvas {
    position: absolute;
    top: 0vw;
} */
video {
    margin-top: 6%;
    margin-left: 22.7%;
    /* width: 720px;
    height: 420px; */
}

/* ==============SPINER PE=========== */
.loader-lds {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 99999;
    opacity: 0.6;
}
.lds-ellipsis {
    display: inline-block;
    position: fixed;
    top: 40%;
    left: 48%;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #e84e4e;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.modal-title {
    color: #16b4eb;
}
.tbody-detail {
    font-size: 18px;
    color: rgb(61, 61, 61);
}
.tbody-detail tr {
    border-style: none;
    line-height: 40px;
}
.tbody-detail .th-first {
    border-style: none;
    padding-left: 24px;
    font-family: "DM Sans", sans-serif;
    text-align: left;
}
.table-detail .tbody-detail tr td {
    border-style: none;
    margin-right: 10px;
    text-align: left;
    padding-left: 20px;
}
.tbody-detail tr td a {
    font-size: 16px;
    padding-left: 18px;
    font-family: "DM Sans", sans-serif;
}
